/* Общие стили */
QMainWindow {
    background-color: #121212;
    color: #FFFFFF;
}

QWidget {
    background-color: #1E1E1E;
    border-radius: 8px;
    border: 1px solid #3E3E42;
    color: #FFFFFF;
}

/* Поля ввода текста */
QLineEdit {
    background-color: #2A2A2E;
    border: 1px solid #3E3E42;
    border-radius: 5px;
    padding: 6px;
    color: white;
    font-size: 14px;
}

/* Метки */
QLabel {
    color: #FFFFFF;
    font-size: 14px;
}

QLabel.title {
    font-size: 16px;
    font-weight: bold;
    color: #FFA726;
}

/* Кнопки */
QPushButton {
    background-color: #2D2D30;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 12px;
}

QPushButton:hover {
    background-color: #FFA726;
    color: black;
}

/* Поля для карточек */
QScrollArea {
    border: none;
    background-color: #121212;
}
